
:root {
    background-color: #FFFFFF;
}


.body {
font-family: "Roboto", sans-serif;
color: #434455;
}




.link {
text-decoration: none;
}

.lisk {
list-style: none;
}
.logo-studio {display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}
    


.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
   text-decoration: none;
}
.span-logo{
color: #f4f4fd;
text-decoration: none;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

