:root {
--main-background-color: #fffff;
--second-color: #4d5ae5;
--logo-color: #2e2f42;
--header-link-color: #2e2f42;
--footer-background-color: #2e2f42;
--header-nav: text-decoration:none;
}



.body  {
 font-family: "Roboto", sans-serif;
 color: #434455;
background-color: #FFFFFF;
}
.list {
    list-style: none;
}
.link{
    text-decoration: none;
}
.header-nav {
list-style: none;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42 ;

}
.header-logo {
font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 16px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}
.header-logo >span {
color: #2e2f42;
    }
.header-nav-link {
list-style: none;
font-style: oblique;
font-size: 18px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42 ;
}
.address {
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.header-link{
text-decoration: none;
}

.footer {
background-color:#2e2f42;
font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}

.footer-logo  {
font-family: "Raleway", sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}
.footer-logo >span {
    color: #f4f4fd;
}
.footer-logo-double  {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}
.footer >span {
    color: #f4f4fd;
}
