:root {
--logo-web: #4d5ae5;
--logo-studio: #2e2f42;
--header-nav: #404bbf;
--brand-color: #ffffff;
--button-footer-text: #f4f4fd;
--button-color: #e7e9fc;
}
.body  {
font-family: "Roboto", sans-serif;
color: #434455;
background-color: #ffffff;
}
.list {
    list-style: none;
}
.link{
    text-decoration: none;
}
.header-nav {
list-style: none;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42 ;
}
.header-logo {
font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}
.link {
    text-decoration: none
}
.header-logo >span {
color: #2e2f42;
    }
.header-nav-link {
font-weight: 500;
list-style: none;
font-style: oblique;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42 ;
}
.header-nav-link:hover, .header-nav-link:focus {
    color: #404bbf;
    color: #404bbf;
}
.address {
font-style: normal;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.header-link{
text-decoration: none;
}
.main-item-list {
background-color: #2e2f42;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #434455;
}
.portfolio-btn {
background-color: #4D5AE5;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
}
.footer {
background-color:#2e2f42;
font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}
.footer-logo  {
font-family: "Raleway", sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}
.footer-logo >span {
    color: #f4f4fd;
}
.footer-logo-double  {
font-family: "Raleway", sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #f4f4fd;
}
.footer >span {
    color: #f4f4fd;
}
