:root {
--logo-color: #4d5ae5;
--logo-studio: #2e2f42;
--header-nav: #404bbf;
--address: #404bbf;
--brand-color: #ffffff;
--button-footer-text: #f4f4fd;
--button-color: #e7e9fc;
}

.body  {
font-family: "Roboto", sans-serif;
color: #434455;
background-color: #ffffff;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.header-logo-link {
font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 24px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}
.header-logo {
text-decoration: none;
}

.header-logo-link{
text-decoration: none;
}
.header-logo-link>span {
    color: #2e2f42;
}


.header-logo-link:hover,
.header-logo-link:focus {
color: #404bbf;
}
.header-nav-item {
font-family: 'Roboto';
font-style: normal;
 font-weight: 500;
font-size: 16px;
line-height: 24px;
 }

.header-item:is(:hover, :focus) {
color: #404bbf;
}


.header-nav-list {
font-style: normal;
}
.header-address{
font-family: "Roboto";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
}
.header-address {
text-decoration: none;


}
.header-mail {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.header-mail:is(:hover, :focus) {
    color: #404bbf;
}
.hero-section {
background-color: #2e2f42;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #ffffff;
}
.hero-section {
background-color: #4D5AE5;
}

.hero-subject {  
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
}
.hero-subject {
background-color: #4D5AE5;
}
.hero-btn { 
background-color: #4D5AE5;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
}

.hero-btn:hover {
background-color: #404BBF;
}

.hero-btn:focus {
background-color: #404BBF;
}
.hero-btn {
background-color: #4D5AE5;
cursor: pointer;
}
.buttons-list {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;

}
.team-titl {
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
}
.team-list {
background-color: #FFFFFF
}
.footer {
background-color:#2e2f42;
font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}
.footer-logo  {
font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}
.footer-logo >span {
    color: #f4f4fd;
}
.footer-logo-double  {
font-family: "Raleway", sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #f4f4fd;
}
.footer >span {
    color: #f4f4fd;
}
